doctype html
html
	head
		meta(charset='UTF-8')
		meta(name='viewport', content='width=device-width, intial-scale=1')
		title lolem ipsum generator
		link(rel='stylesheet', href='/css/app.css')
	body.bg-gray-200
		noscript
			p We must has teh JavaScripts 2 maek teh lolems. Turn on teh JavaScripts!!
		div(id='app', class='flex flex-col items-center mx-auto w-3/4 md:w-2/3 max-w-4xl bg-white my-6 pb-4 rounded shadow-lg')
			div.w-full.text-center.bg-indigo-700.text-white.mb-2.py-6.rounded-t.flex.flex-col.items-center
				img.rounded(src='images/cat.jpg', alt='Picture of eh kitteh', class='w-2/5')
				h1.text-3xl.mt-2 O Y HALO THAR! PLZ 2 MAEK TEH LOLEM IPSUM!!
			lol-speaker
		script(src='js/vendors~app.js')
		script(src='js/app.js')
