doctype html
html
	head
		meta(charset='UTF-8')
		meta(name='viewport', content='width=device-width, intial-scale=1')
		title lolem ipsum generator
		link(rel='stylesheet', href='css/styles.css')
	body
	div#app
		h1 Hello there!
		lol-speaker
	script(src='js/app.js')
