doctype html
html
	head
		meta(charset='UTF-8')
		meta(name='viewport', content='width=device-width, intial-scale=1')
		title lolem ipsum generator
	body
	h1 Hello there!
	p=loltext
	form(action='/', method="POST")
		label(for='paragraphs') Number of paragraphs
		input(type='number', id='paragraphs', name='paragraphs', value=paragraphs)
		label(for='sentences') Number of sentences per paragraph
		input(type='number', id='sentences', name='sentences', value=sentences)
		button(type='submit') Generate

