doctype html
html
	head
		meta(charset='UTF-8')
		meta(name='viewport', content='width=device-width, intial-scale=1')
		title lolem ipsum generator
		link(rel='stylesheet', href='/css/styles.css')
	body.bg-gray-200
	div(id='app', class='flex flex-col items-center mx-auto w-3/4 md:w-2/3 max-w-4xl bg-white my-6 rounded')
		h1.text-3xl O Y HALO THAR PLZ 2 MAK TEH LOLEM IPSUM!!
		lol-speaker
	script(src='js/app.js')
